<html>
<head>
	<title>Title</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<h1 class="centered">Signup</h1>
	<form action="/accounts" method="post">
		<div class="centered">
			Username: <input type="text" name="username">
			Password: <input type="text" name="password">
		</div>
		<input type="submit" value="Create account" class="centered">
	</form>
</body>
</html>